<% include ../partials/header %>

 <div class="jumbotron">
            <h1 class="display-3">Ms.Natthanicha Phitthayaphraphaphorn</h1>
            <p class="lead">5930212015</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/about" role="button">OK</a>
            </p>
           
        </div>



 <% include ../partials/footer %>